JWT_ISSUER='PROTO_HUB'
JWT_PRIVATE_KEY_PATH='/app/backend/keys/jwt_private.pem'

JWT_TECH_AUDIENCE='TECH-API'
SYSTEM_TECH_API_BASE_URL='http://tech.dev.polipak.local/'
JWT_PRO2_AUDIENCE='PRO2-API'
SYSTEM_PRO2_API_BASE_URL='http://pro2.dev.polipak.local/'
JWT_PLANNER_AUDIENCE='PLANNER-API'
SYSTEM_PLANNER_API_BASE_URL='http://planner.dev.polipak.local/'

